.App {
  text-align: left;
}

.hero-title{
  color: #3F93F5;
  font-family: Avenir, sans-serif; 
  font-size: 50px;
  font-weight: bolder;
  text-align: left;
  position: flex;
  padding-left: 65px;
}

.websiteHeader{
position: relative; 
height: 325px;
width: 1450px;
padding-top: 3px;
}

.selling-points{
  column-count: 3;
  column-gap: 200px;
  column-rule-color: #FF51BA;
  column-rule-style: solid;
  column-rule-width: 1.5px;
 padding-left: 75px;
}

.point{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #3F93F5;
}

.point-title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color:rgb(0, 140, 255);
 position: relative;
}

/* Library.js styles */
.albumCover{
  position: relative;
  height: 25%;
  width: 25%;
  float: left;
  padding: 50px 200px 200px 50px;
}

.albumTitle {
  position: absolute;
  float:left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-style: italic;
  top:240px;
  padding: 0px 100px 50px 30px;
  color: #FF51BA;
  background-color:rgba(0, 0, 0, .7);
}

.albumInfo{
  position:absolute;
  float:left;
  padding: 50px 0px 50px 50px;
  top:5px;
  left:0px;
}

/* Album.js styles */

#album-cover-art{
  position: relative;
  float: left;
  padding: 50px 200px 200px 50px;
}

#album-title{
  position: absolute;
  float:left;
  font-family: Arial,sans-serif;
  font-size: 25.5px;
  font-style: italic;
  color: #FF51BA;
  padding: 21px 100px 70px 30px;
  margin: 240px 20px 20px 50px;
  background-color:rgba(0, 0, 0, .7);
}

#artist{  
  position:absolute;
  float:left;
  font-family:Arial, sans-serif;
  font-size: 17px;
  font-style: italic;
  font-weight: 100;
  padding: 281px 0px 50px 100px; 
  color: #FF51BA;
}

#release-info{
  position:absolute;
  float:left;
  font-size: 17px;
  font-style: italic;
  top:600px;
  padding: 85px 0px 0px 100px; 
  color: #FF51BA;
}

#song-list{
  font-family: Arial,sans-serif;
  position: absolute;
  color: #FF51BA;
  padding: 25px 25px 25px 25px;
  margin: 240px 50px 25px 478px;
  background-color: rgba(0, 0, 0, .7); 
}

.player-bar{
  position: absolute;
  color: #3F93F5;
  margin: 550px 0px 0px 100px;
}

#time-control{
position: relative;
margin: 5px 0px 25px 0px;
}

.total-time{
  margin: 0px 0px 5px 0px;
}

.previous{
  color: #FF51BA;
}

.seek-bar{
  position: inline;
  width: 70px;
  margin: 0px 0px 25px 45px;
}

.nav-links{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: .5px;
  text-align: left;
  color: white;
  position: relative;
  background-color: #3F93F5;
  padding-top: 12px;
  padding-left:85px;
  padding-bottom:10px;
  
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: left;
  padding-left:85px;
}

.footer{
  background-color: #3F93F5;
position: relative;
}