
.App {
  text-align: left;
}

.websiteHeader{
  position: relative;
top:22px; 
}


.albumCover{
  position: relative;
  height: 25%;
  width: 25%;
  float: left;
  padding: 50px 200px 200px 50px;
}

.albumTitle {
  position: absolute;
  float:left;
  font-style: italic;
  top:240px;
  padding: 0px 100px 50px 30px;
  background-color:rgba(0, 0, 0, .7);
}

#album-title{
  position: absolute;
  float:left;
  font-family: Arial,sans-serif;
  font-size: 25px;
  font-style: italic;
  letter-spacing: -1px;
  top:215px;
  color: #FF51BA;
  padding: 20px 100px 70px 30px;
  background-color:rgba(0, 0, 0, .7);
}

.albumInfo{
  position:absolute;
  float:left;
  padding: 50px 0px 50px 50px;
  top:5px;
  left:0px;
}

.artist{  
  position:absolute;
  float:left;
  font-family:Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  top:275px;
  padding: 21px 0px 50px 50px; 
  color: #FF51BA;
}

#release-info{
  position:absolute;
  float:left;
  font-size: 16px;
  font-style: italic;
  top:315px;
  padding-left: 50px; 
  color: #FF51BA;
}

#song-number-column{
  position: ;
  font-family: Arial, sans-serif;
  top: 15px;
}

a {
  text-decoration: none;
  color: #FF51BA;
  text-align: left;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-link {
  color: #61dafb;
}

h1{
  color: #3F93F5;
  font-family: Avenir, sans-serif; 
  font-size: 50px;
  font-weight: Bold;
  text-align: left;
  position: flex;
}

.nav{
  position:fixed;
  background-color: #3F93F5;
  padding: 5px;
  min-width:100%;
  min-height:4%;
  top:0px;
}

.links a{
  position:relative;
  color: white;
  font-family: Avenir, sans-serif;
  font-weight: bold;
  text-decoration: none;
  left:275px;
  top:5px;
  word-spacing:100px; 

}

/*#previous{
  color:#FF51BA;
  border: none;
  width: 50px;
}

#play-pause{
  color:#3F93F5;
  margin: 100px;
  border-width: 1px;
  border-left-color: #FF51BA;
  border-right-color: #FF51BA;
  border-top-color: #3F93F5;
  border-bottom-color: #3F93F5;
}

#next{
 color: #FF51BA;
 border: none;
 width: 50px;
}

#buttons{
  float:right;
}*/

.album{
  position: relative;
  float:left;
  padding: 50px 200px 200px 50px;
}

#song-list{
  font-family: Arial,sans-serif;
  position: absolute;
  left:301px;
  top: 240px;
  color: #FF51BA;
  padding: 25px 25px 25px 25px;
  background-color: rgba(0, 0, 0, .7); 
}

.footer{
  background-color: #3F93F5;
  height: 50px;
  position:fixed;
  width:100%;
  bottom:0px;
  left:0px;
}

*@keyframes song-list-fade-in {
  from {
    transform: opacity(0);
  }
  to {
    transform: opacity(1);
  }
}